// -----------------------------------------------------------------------------
// This file contains all styles related to the splash animation.
// -----------------------------------------------------------------------------

.beerwulf-anim {
    width: 1296px;
    height: 456px;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
    .svg-container {
        @include svg-responsive (324px, 114px, 100%);
    }
    .svg {
        visibility: hidden;
    }
}
