// -----------------------------------------------------------------------------
// This file contains all styles related to the splash animation.
// -----------------------------------------------------------------------------

.splash-anim {
    width: 1200px;
    height: 980px;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
    .svg-container {
        @include svg-responsive (1200px, 980px, 100%);
    }
    .svg {
        visibility: hidden;
    }
}
