/// Container's maximum width
$max-width: 1366px !default;

/// Container's minimum width
$min-width: 320px !default;

/// Grid gutter
$gutter-width: 20px !default;

/// Media queries
/// Breakpoints
$xsmall: $min-width;
$small:  480px;
$medium: 768px;
$large:  1024px;
$xlarge:  $max-width;

/// Colors
$white       : #fff;
$black       : #000;

$light-gray  : #eee;
$medium-gray : #888;
$dark-gray   : #222;

$desire      : #e63946;
$honeydew    : #f1faee;
$light-blue  : #a8dadc;
$queen-blue  : #457b9d;
$space-cadet : #1d3557;
