html,
body {
  width: 100%;
  min-width: 32rem;
  min-height: 100%;
}

html {
  box-sizing: border-box;
  font-size: 10px;
  font-family: sans-serif;
  color: white;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  position: relative;
}

body {
  margin: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  font-size: 1.6rem;
  line-height: 1.25;
}

.video-container {
  width: 100vw;
  display: none;

  video {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

main {
  display: none;
}

.sparkle {
  position: absolute;
  top: 0;
  left: 0;
  width: 200px; /* sparkle size */
}

img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

button {
  background: none;
  border: none;

  &:focus {
    outline: none;
  }
}

.slider {
  margin: 200px auto 0;
  display: grid;
  height: 450px;
  width: 100%;
  max-width: 820px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 30px 30px;

  &__slides {
    grid-column: 1 / span 2;
    grid-row: 1 / span 3;
  }

  &__slide {
    display: grid;
    grid-template-columns: 1fr 40px 1fr;
    grid-template-rows: 70px 1fr 30px;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;

    &-clip {
      overflow: hidden;

      &:nth-child(1) {
        grid-column: 1 / span 2;
        grid-row: 1 / span 2;
      }

      &:nth-child(2) {
        grid-column: 2 / span 2;
        grid-row: 2;
      }
    }

    img {
      opacity: 0;
      visibility: hidden;
    }
  }

  &__nav {
    grid-column: 2;
    grid-row: 2 / span 2;
    margin-left: auto;
    margin-right: 60px;
    width: 80px;
    height: 60px;
    box-shadow: 0 0 80px rgba(0, 0, 0, 0.5);
  }

  &-button {
    padding: 0 2rem;
    height: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: background-color 300ms ease-out color 300ms ease-out;
    background-color: #ffc242;
    color: #222;

    &__icon {
      width: 18px;
      height: 18px;
      transition: transform 300ms ease-out;

      &--right-arrow {
        margin-left: auto;
      }
    }

    &:disabled {
      background-color: #ddd;
      color: #aaa;
      pointer-events: none;
    }

    &:hover,
    &:focus {
      background-color: #dda324;
    }

    &--prev:hover {
      .slider-button__icon {
        transform: translateX(-30%);
      }
    }

    &--next:hover {
      .slider-button__icon {
        transform: translateX(30%);
      }
    }
  }
}
